@model MasterModel
<ul>
    <li>
        @if (Model.HasCurrentProject) { 
            @Html.ActionLink("Projects", MVC.Project.OverviewTab(Model.CurrentProject.Id))
        } else {
                <a href="">Projects</a>
        }
        <span class="arrow"></span>
        <ul class="ui-shadow">
            @if (Model.CurrentProject != null) {
                <li class="heading">Current Project</li>
                <li>@Html.ActionLink(Model.CurrentProject.Name, MVC.Project.OverviewTab(Model.CurrentProject.Id))</li>
                <li class="break"></li>
            }
           
            @if (Model.RecentProjects.Count > 0) {
                <li class="heading">Recent Projects</li>
                foreach (var project in Model.RecentProjects) {
                    <li>@Html.ActionLink(project.Name, MVC.Project.OverviewTab(project.Id))</li>
                }
            }
        </ul>
    </li>
    <li>
       @Html.RouteLink("Tickets", MVC.Ticket.BrowseTickets(1))
       <span class="arrow"></span>
       <ul class="ui-shadow">
            <li>@Html.ActionLink("Create Ticket", MVC.Ticket.CreateTicket())</li>
            <li class="break"></li>    
            <li class="heading">Newest Tickets</li>   
            @foreach (var ticket in Model.Tickets)
            {
               <li>@Html.ActionLink(Html.Exerpt(ticket.Summary, 30), MVC.Ticket.TicketDetails(ticket.KeyName.ToLower()))</li>
            }
            <li class="break"></li>
            <li>@Html.ActionLink("View All", MVC.Ticket.BrowseTickets(1))</li>
        </ul>
    </li>
    <li>
        <a href="#">Administration</a>
        <span class="arrow"></span>
        <ul class="ui-shadow">
            <li>@Html.ActionLink("Attributes", MVC.Admin.Attribute.Index())</li>
            <li>@Html.ActionLink("Management", MVC.Admin.Management.Index())</li>
            <li>@Html.ActionLink("Settings", MVC.Admin.Settings.Index())</li>
        </ul>
    </li> 
</ul>
