@model MasterModel

<!DOCTYPE html PUBLIC "-////DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta content="-1" http-equiv="Expires">
    <meta name="description" content="Description of your web page goes here." />
    <meta name="keywords" content="Keywords for you web page go here. Each keyword or group of keyword phrases are separated by a comma. Keep this  list short and relevant to the content and title of this specific page." />
    
    <title>Trakker</title>
 
    @Reco.Link("/generated.css")
    @Reco.Script("/generated.js")
</head>
<body>
    <div id="nav-heading">
<!--
        <div class="Dropdown Nav">
            @Html.Partial(MVC.Shared.Views._Menu, Model)
        </div>-->

        <div class="user">
            @if (Model.IsUserLoggedIn) { 
                if (Model.CurrentProject != null) {
                    <span>@Model.CurrentProject.Name (@Model.CurrentProject.KeyName) </span>
                }
                <span>Assigned: @Model.NumTicketsAssignedToCurrentUser</span>
                <span>@Html.ActionLink("Logout (" + Model.CurrentUser.Email + ")", MVC.User.Logout())</span>
            }
        </div>
    </div>

    <div id="search-heading">
        <a href="/" alt="Home">
            <img src="https://ssl.gstatic.com/docs/doclist/images/google.png" />
        </a>
        <div class="Search">
            @{
                Html.BeginForm(MVC.Search.SearchIndex(), FormMethod.Get);
                @Html.TextBox("term", null, new { @default = "Ticket Number" }) 
                Html.EndForm();
            }

        </div>
        <script type="text/javascript">
            $('div#HeadingTop div.Search input').keypress(function (e) {
                if (e.which == 13) {
                    $('div#HeadingTop div.Search form').submit();
                }
            });

        </script>
    </div>
   
    @RenderBody()

    <div id="Footer">
        
    </div>
    
    
     <script type="text/javascript">
         $(document).ready(function () {


             $("div.Nav > ul > li, div.SubNav > ul > li").hover(function () {
                 $(this).find(">a").addClass("Hover");
                 $(this).find("ul").eq(0).show();

                 var parentWidth = $(this).find("a:first").outerWidth(true);
                 var listWidth = $(this).find("ul:first li").outerWidth();

                 if (parentWidth > listWidth) {
                     $(this).find("ul:first li").css({ "width": parentWidth - 2 });
                 }
             }, function () {
                 $(this).find(">a").removeClass("Hover");
                 $(this).find("ul").eq(0).hide();
             });


             /*
             function closeMenu(target) {
             target.parent().removeClass("Open");
             target.parent().find("> ul").eq(0).hide();
             }

             function closeAllMenus(target) {
             var menus = $('div.Dropdown');
             menus.find("ul  li  ul").hide();
             menus.find("ul li").removeClass("Open");
             }

             function openMenu(target) {
             target.parent().addClass("Open");
             target.parent().find("> ul").eq(0).show();
             }

             function isMenuOpen(target) {
             return target.parent().find("> ul").is(':hidden');
             }

             function constrainWidth(target) {
             var parentWidth = target.parent().outerWidth(true);
             var listWidth = target.parent().find("ul:first li").outerWidth();

             if (parentWidth > listWidth) {
             target.parent().find("ul:first li").css({ "width": parentWidth - 2 });
             }
             }             

             $("div.Nav > ul > li a.Toggle, div.SubNav > ul > li a.Toggle").click(function (event) {
             var self = $(this);
             event.stopPropagation();

             if (isMenuOpen(self)) {
             closeAllMenus(self);
             openMenu(self);
             constrainWidth(self);

             $('body').click(function () {
             closeMenu(self);
             $(this).unbind("click");
             });
             } else {
             closeMenu(self);
             $('body').unbind("click");
             }
             });*/
         });
    </script>
</body>
</html>
