@model ProjectRoadMapTabModel
<h2>Road Map Tab</h2>

<ul id="road-map-list">
    @foreach (var version in Model.Versions)
    {
        <li>
            <div class="name">@version.Name</div>
            <div class="progress"></div>
            <span>10% (10 of 100)  have been resolved</span>
            <span class="notes"><a href="#">Release Notes</a></span>

            <ul>
                @foreach (var ticket in version.Tickets)
                {
                    <li>
                        <span>@ticket.Type.Name</span
                        <span>@ticket.KeyName</span>
                        <span>@ticket.Resolution.Name</span>
                        <span>@ticket.Summary</span>
                        <span>@ticket.Priority.Name</span>
                        <span>@ticket.Status.Name</span>
                    </li>
                }
                
            </ul>
        </li>
     }
</ul>
