@model ProjectRoadMapTabModel
<h2>Road Map Tab</h2>

<ul id="road-map-list">
    @foreach (var version in Model.Versions)
    {
        <li>
            <div class="top">
                <div class="name">@version.Name</div>
                <div class="progress">
                @(Html.Ctm().ProgressBar()
                    .Current(version.ClosedTicketCount())
                    .Max(version.Tickets.Count)
                    .Background.Red()
                    .Green())
                </div>
                <span>@version.PercentClosed().ToString("#.0")% (@version.ClosedTicketCount() of @version.Tickets.Count)  have been resolved</span>
                <span class="notes">@Html.ActionLink("Release Notes", MVC.Project.ReleaseNotes(Model.Project.KeyName.ToLower(), version.Id))</span>
            </div>
            <table>
                @foreach (var ticket in version.Tickets)
                {
                    <tr>
                        <td>@ticket.Type.Name</td>
                        <td>@Html.ActionLink(ticket.KeyName, MVC.Ticket.TicketDetails(ticket.KeyName))</td>
                        <td>@ticket.Resolution.Name</td>
                        <td>@Html.ActionLink(ticket.Summary, MVC.Ticket.TicketDetails(ticket.KeyName))</td>
                        <td>@ticket.Priority.Name</td>
                        <td>@ticket.Status.Name</td>
                    </tr>
                }
            </table>
        </li>
    }
</ul>
