@model Trakker.Models.Admin.Management.BrowseProjectsModel

<div class="Section">
    <h1>Browse Projects</h1>
    <p>In the table below is a list of all the projects being managed by this system. Select a project to edit.</p>
    <p>@Html.RouteLink("Create Project", "CreateProject") </p>
</div>

<table class="Grid Indent">
    <thead>
        <tr>
            <th>Name</th>
            <th>Leader</th>
            <th>Key</th>
            <th>Due</th>
            <th>Created</th>
            <th>Color Palette</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var project in Model.Projects) { 
            <tr>
                <td>@Html.ActionLink(project.Name, MVC.Admin.Management.ViewProject(project.Id))</td>
                <td>@Model.Users[project.Lead].FullName() </td>
                <td>@project.KeyName  </td>
                <td>@project.Due  </td>
                <td>@project.Created  </td>
                <td>@project.ColorPalette.Name</td>
                <td>@Html.ActionLink("Edit", MVC.Admin.Management.EditProject(project.Id)) </td>
            </tr>
        }     
    </tbody>
        
</table>

