@model Trakker.Models.Admin.Management.ViewProjectModel

<div class="Section">
    <h1>Project: <em>@Model.Project.Name</em></h1>
    <p><strong>Key:</strong> @Model.Project.KeyName</p>
    <p><strong>Lead:</strong> @Html.RouteLink(Model.User.FullName(), "ViewUser", new { userId = Model.User.Id })</p>
    <p><strong>Url:</strong> @Model.Project.Url</p>
    <p><strong>Created:</strong> @Model.Project.Created</p>
    <p><strong>Due:</strong> @Model.Project.Due</p>
    <p><strong>Palette:</strong> @Model.Palette.Name</p>
    <p>@Html.RouteLink("Edit",  "EditProject", new { keyName = Model.Project.KeyName.ToLower() })</p>
</div>
    
<div class="Section">
    @Html.ActionLink("Manage Versions", MVC.Admin.Management.ManageVersions(Model.Project.KeyName))
    <table>
        @foreach (var version in Model.Versions)
        {
            <tr>
                <td>@version.Name</td>
                <td>@version.Description</td>
                <td> 
                    @if (version.ReleaseDate != null)
                    {
                        @version.ReleaseDate.Value
                    }
                </td>
            </tr>       
        }
    </table>
</div>
